# @johto-ai/cli-${SUFFIX}

Platform-specific binary for [@johto-ai/cli](https://www.npmjs.com/package/@johto-ai/cli).

This package is installed automatically as an optional dependency. You should not install it directly.
